.profile__description {
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
    font-size: 18px;
    line-height: calc(22/18);
    width: 318px;
    margin: calc(16/336*100%) 0 0 0;
}

@media (max-width: 845px) {
    .profile__description {
        width: 100%;
        text-align: center;
        margin: calc(14/280*100%) 0 0 0;
    }
}