@import url(./__likes-counter/like-section__likes-counter.css);

.like-section {
    margin-top: calc(21/267*100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}