.card__bottom {
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc((361 - 282)*1px);
    padding-right: calc(15/282*100%);
    box-sizing: border-box;
}